<a href="https://colab.research.google.com/github/Kimw6/MLProject/blob/master/googleColabTutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tutorial

(https://www.youtube.com/watch?v=agj3AxNPDWU&list=PLA83b1JHN4ly56Y7o6vDAT8Szxc3_EdRH)

## Text run (shift+enter)

# Public Link
For system running, use "!" so that it runs commands for system, not python program

In [ ]:
!wget https://raw.githubusercontent.com/adamerose/datasets/master/titanic.csv

--2023-05-04 18:44:52--  https://raw.githubusercontent.com/adamerose/datasets/master/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 57018 (56K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  55.68K  --.-KB/s    in 0.008s

2023-05-04 18:44:52 (6.70 MB/s) - ‘titanic.csv’ saved [57018/57018]

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("titanic.csv").head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Github Link
## Note that only public githup can be linked

In [ ]:
!git clone https://github.com/Kimw6/MLProject.git

Cloning into 'MLProject'...
remote: Enumerating objects: 80, done.
remote: Counting objects: 100% (80/80), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 80 (delta 41), reused 68 (delta 31), pack-reused 0
Unpacking objects: 100% (80/80), 6.26 MiB | 3.63 MiB/s, done.

In [ ]:
!git clone https://github.com/nyeshlur/CSS_483_Project.git

Cloning into 'CSS_483_Project'...
fatal: could not read Username for 'https://github.com': No such device or address